$primary-color: #57534e;
$accent-color: #d6d3d1;
$text-color: #fff;

body {
    background: $primary-color;
    color: $text-color;
}

.main {
    width: 80%;
    margin: 0 auto;

    #{&}__paragraph {
        font-size: 1.5rem;

    }
}